.radius-action {
    border: solid white 1px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

.rigth-apart-action{
    float:right;
    margin-left: 50px;
}

.nav-link {
    color: darkgray;
    text-decoration: none;
  }